<nb-card>
    <nb-card-header>

        VINCI DATA-GRID

        <div class="search-input">
            <button nbButton outline status="info">WORD</button>
            <button nbButton status="success">EXCEL</button>
            <button nbButton status="danger">PDF</button>
        </div>



    </nb-card-header>

    <nb-card-body>
        <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)">
        </ng2-smart-table>
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table> -->
    </nb-card-body>

</nb-card>