<nb-card>
  <nb-card-header>
    <button nbButton shape="semi-round" status="info" (click)="savePreferences()">
      Sauvegarder mes préférences
    </button>
    <ng-content></ng-content>
    <br />
    <br />
    <div class="vc-accordion">
      <nb-accordion multi>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Mes Préferences
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-card>
              <nb-card-header>Sélection des colonnes</nb-card-header>
              <nb-card-body>
                <nb-select cdkDropList multiple placeholder="Sélection Multiple " class="columns-selection"
                  (selectedChange)="selectColomns($event)" [(selected)]="selectedItem" shape="round" size="small">
                  <nb-select-label>
                    Sélectioner les colonnes à afficher
                  </nb-select-label>
                  <nb-option *ngFor="let col of columns | keyvalue" value="{{ col.key }}" [disabled]="
                      selectedItem.length > 10 && !selectedItem.includes(col.key)">
                    {{ col.value.title }}
                  </nb-option>
                </nb-select>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-header>Tri des colonnes</nb-card-header>
              <nb-card-body>
                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of columnsArrayOfObjects" cdkDrag>
                    {{ item.title }}
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [(settings)]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)"
      (rowHover)="sourieSurLigne($event)" (custom)="onCustomAction($event)" (userRowSelect)="onCustomAction($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
